@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');



@layer base {

   
    html {  
      font-size: calc(10px + 6 * ((100vw - 320px) / 680));
    }

    @screen md { 

      html {
        font-size:  calc(3.2px + 6 * ((100vw - 320px) / 680));
      }
    }
  
 }  

/* 
 font-size: calc(4px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */